html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}
body {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

/* mobile styling */
@media only screen and (max-width: 600px) {
  html,
  body {
    scroll-behavior: smooth;
    scroll-snap-type: y;
  }
}

.App {
  height: 800vh;
  background-color: #07041e;
}

/* 
@media only screen and (max-width: 600px) {
  .App{
  
  }
} */
