html, body {
  margin:0;
  padding:0;
  scroll-behavior: smooth;
}

/* mobile styling */
@media only screen and (max-width: 600px) {
  html,
  body {
    scroll-behavior: smooth;
    scroll-snap-type: y;
  }
}

.App{
  height: 100vh; 
  background-color: #07041E;
  z-index: -1;

}

/* 
@media only screen and (max-width: 600px) {
  .App{
  
  }
} */
