html, body {
  margin:0;
  padding:0;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}


/* mobile styling */
@media only screen and (max-width: 600px) {
  html,
  body {
    scroll-behavior: smooth;
    scroll-snap-type: y;
  }
}

.App{
  height: 400vh; 
  background-color: #07041E;
}

/* 
@media only screen and (max-width: 600px) {
  .App{
  
  }
} */
