.about {
  height: 50vh;
  padding-top: 250px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: #bdc3c7;
}

.about h3 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  letter-spacing: 0.04rem;
  font-size: 32px;
  color: #bdc3c7;
  margin-bottom: -4px;
}

.about span {
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  font-size: 24px;
  color: #ff8692;
}

.about p {
  float: right;
  margin-top: 28px;
  max-width: 600px;
  color: #bdc3c7;
  font-size: 18px;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 0.04rem;
  line-height: 24px;
  text-align: center;
}

.about img {
  height: 300px;
  width: auto;
  margin-bottom: 18px;
}

@media only screen and (max-width: 600px) {
  .about {
    display: block;
    align-items: center;
    text-align: center;
  }
  .about h3 {
    margin-left: none;
    text-align: center;
  }
  .about p {
    float: none;
  }
}
