.about {
  height: 50vh;
  padding-top: 250px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color: #bdc3c7;
  display: block;
  align-items: center;
  text-align: center;
}

.about h3 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  letter-spacing: 0.04rem;
  font-size: 32px;
  color: #bdc3c7;
}

.about span {
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  color: #ff8692;
}

.about p {
  margin-top: 28px;
  margin-left: 200px;
  margin-right: 200px;
  color: #bdc3c7;
  font-size: 18px;
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 0.04rem;
  line-height: 24px;
}

.about img {
  border-radius: 50%;
  border: 3px solid #ecb879;
  background: #92a5fd;
  height: 300px;
  width: auto;
  margin-bottom: 18px;
}

@media only screen and (max-width: 600px) {
  .about {
    display: block;
    align-items: center;
    text-align: center;
  }
  .about h3 {
    margin-left: none;
    text-align: center;
  }

  .about p {
    max-width: 500px;
    margin-left: 18px;
    margin-right: 18px;
  }
}
