#page-wrap {
  text-align: center;
  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}


.bm-item {
  display: inline-block;
  width: 32px;
  text-decoration: none;
  margin-bottom: 18px;
  color: #d1d1d1;
  transition: color 0.3s;
}

.bm-item:hover {
  color: #ff8692 !important;
}

.bm-burger-button {
  position: fixed;
  width: 32px;
  height: 22px;
  right: 48px;
  top: 48px;
}

.bm-burger-bars {
  background: #ff8692;
  filter: drop-shadow(0px 0px 4px #ff8692);
  border-radius: 60px;
  height: 5px;
}

.bm-cross-button {
  height: 32px;
  width: 32px;
}

.bm-cross {
  background: #bdc3c7;
  font-size: 32px !important;
}
.bm-cross:hover {
  background: #ff8692;
  transition: ease-in-out 0.3s;
}

.bm-menu {
  background: #1e1e5d;
  border: #bdc3c7;
  /* opacity: 0.5; */
  padding: 52px 32px 0;
  font-size: 24px;
  margin-bottom: -2px;
}

.bm-morph-shape {
  fill: #373a47;
}
.bm-overlay {
  background: rgba(0, 0, 0, 0.8);
}

/* hover effect */
.bm-item a {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  letter-spacing: 0.05rem;
  background-image: linear-gradient(to left, #ff8692, #ff8692 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.3s ease-in-out;
}

span {
  font-family: "Courier New", Courier, monospace;
  font-weight: 300;
  color: #ff8692;
}

.bm-item a:before {
  content: "";
  background: #ff8692;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.3s ease-in-out;
}

 .bm-item a:hover {
  background-position: 0;
  width: 70%;
}

.bm-item a:hover::before {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .bm-item a:hover {
    
    color: inherit;
  }
}
 