#projects {
  height: 75vh;
  padding-top: 1300px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  justify-items: center;
  scroll-margin-top: -1300px;
}

#projects h3 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  letter-spacing: 0.04rem;
  font-size: 32px;
  color: #bdc3c7;
  text-align: center;
}

#projects img {
  overflow: hidden;
  border-radius: 22.5%;
  width: 300px;
  height: 300px;
}

.img-hover-zoom {
  margin-top: 32px;
  border-radius: 22.5%;
  border: 1px solid rgba(255, 134, 146);
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}
.img-hover-zoom img {
  transition: transform 0.5s ease;
  border-radius: 22.5%;
}
.img-hover-zoom:hover img {
  border-radius: 22.5%;
  border: 1px solid rgba(255, 134, 146);
  transform: scale(1.5);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#spotify-image {
  height: 300px;
  width: 300px;
}
#link-title {
  color: #bdc3c7;
  font-size: 22px;
  letter-spacing: 0.03rem;
  font-weight: 500;
  font-family: "Titillium Web", sans-serif;
}

#link-description {
  font-family: "Titillium Web", sans-serif;
  color: #bdc3c7;
  letter-spacing: 0.03rem;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}

#spotify-api-link {
  text-decoration: none !important;
  color: #ff8692;
}

@media only screen and (max-width: 600px) {
  #projects {
    padding-top: 1700px;
    text-align: center;
    scroll-margin-top: -1700px;
  }

  #link-description {
    display: inline-block;
    text-align: left;
    margin-left: 18px;
  }
}
