@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.tech {
  height: 50vh;
  padding-top: 100px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 200px;
  display: block;
  align-items: center;
  text-align: center;
}

.tech h3 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  letter-spacing: 0.04rem;
  font-size: 32px;
  color: #bdc3c7;
  text-align: center;
}

.icons-container {
  display: grid;
  justify-items: center;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 50px;
}
#html-icon {
  margin-top: 24px;
  padding: 8px;
  color: #e54c21;
}

#css-icon {
  margin-top: 24px;
  padding: 8px;
  color: #324bde;
}

#js-icon {
  margin-top: 24px;
  padding: 8px;
  color: #eed819;
}

#bootstrap-icon{
  margin-top: 24px;
  padding: 8px;
  color: #7811f2;
}

#react-icon {
  margin-top: 24px;
  padding: 8px;
  color: #61dafb;
}

#node-icon {
  margin-top: 24px;
  padding: 8px;
  color: #63985c;
}

#tech-icon-span {
  color: black;
  font-size: 32px;
  font-weight: 400;
  font-family: "VT323", monospace;

}


.buzzword-list{
  padding-top: 25px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  text-align: left;
}

.buzzword-list ul li{
font-size: 32px;
font-family: "VT323", monospace;
letter-spacing: 0.2rem;
color: #bdc3c7;
}

.buzzword-list li{
  margin: 12px 0;
}
@media only screen and (max-width: 600px) {
  .tech {
    margin-top: 300px;
  }

  .icons-container {
    padding-top: 24px;
    display: grid;
    justify-items: center;
  }
}
