@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#home {
  height: 50vh;
  text-align: center;
  padding-top: 400px;
  color: #ff8692;
  font-size: 52px;
  font-family: "JetBrains Mono", monospace;
  letter-spacing: 0.04rem;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header-2 span {
  color: #bdc3c7;
  font-size: 32px;
  animation: 2s ease-out 0s 1 FadeIn;
}

#social-icon {
  animation: 2s ease-out 0s 1 FadeIn;
  padding-top: 18px;
  color: #bdc3c7;
  margin-right: 24px;
  cursor: pointer;
  top: 0;
  transition: transform ease 300ms;
  /* filter: drop-shadow(0px 0px 3px #bdc3c7); */
}

#social-icon:hover {
  color: #ff8692;
  transition: ease-in-out 0.3s;
  transform: translate(0, -10px);
  filter: drop-shadow(0px 0px 3px #ff8692);
}

@media only screen and (max-width: 600px) {
  #home {
    padding-top: 250px;
    font-size: 32px;
  }

  .header-2 {
    font-size: 24px;
  }

  #social-icon {
    size: 24px !important;
  }

  .social-icon-div {
    padding-top: 48px;
  }
}
